.food-card-h {
    text-decoration: none;
    color: var(--h-color);
    float: left;
}

.food-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

@media (min-width: 320px) {
    .card-photo {
        position: relative;
        width: 90%;
        height: 90%;
        overflow: hidden;
        border-radius: 25px;
    }

    .food-card-h {
        font-size: 32px;
        margin-block: 15px;
    }
}