header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-searchbar {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--backgroung-color);
    box-shadow: 20px 20px 60px var(--dropshadow-color),
    -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.main-searchbar:focus {
    outline-color: var(--h-grad-s-color);
    background: var(--h-grad-f-color);
    box-shadow: inset 20px 20px 60px #c5c5c5,
    inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.header-container {
    display: flex;
    border-radius: 22px;
    width: 96%;
    background-color: var(--header-background-color);
    position: sticky;
    top: 0;
}

.icons-container {
    width: 100%;
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}


@media (min-width: 320px){
    .header-container {
        height: 65px;
        margin-top: 18px;
    }
}