header {
    min-height: 100%;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: var(--h-color);
    font-style: italic;
    background-image: url(../assets/bg/temp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    -moz-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}

.header-section {
    display: block;
    background-image: url(../assets/bg/flover-bg.png);
}

.short-credits {
    font-weight: lighter;
    background: -webkit-linear-gradient(var(--h-grad-f-color), var(--h-grad-s-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2px;
}

.short-credits-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    margin: 0;
}

.logo {
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(var(--h-grad-f-color), var(--h-grad-s-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-searchbar {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--backgroung-color);
    box-shadow: 20px 20px 60px var(--dropshadow-color),
    -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.main-searchbar:focus {
    outline-color: var(--h-grad-s-color);
    background: var(--h-grad-f-color);
    box-shadow: inset 20px 20px 60px #c5c5c5,
    inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

@media (min-width: 320px){
    .logo {
        font-size: 50px;
    }
}