@import url(./header.css);
@import url(./buttons.css);
@import url(./cards.css);

:root {
    --backgroung-color: #fffcfb;
    --h-color: #1A2424;
    --h-grad-f-color: #D7AF91;
    --h-grad-s-color: #d09263;
    --categoty-accent-color: #f6f6f6;
    --dropshadow-color: #c5c5c5;
    --category-dropshadow-color: #c3ad9f;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroung-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: 0.3s;
}

@media (min-width: 320px) {
    .card-photo {
        position: relative;
        width: 90%;
        height: 90%;
        overflow: hidden;
        border-radius: 25px;
    }

    .food-card-h {
        font-size: 32px;
        margin-block: 15px;
    }
}

