@import url(../css/header.css);
@import url(../css/categories.css);

:root {
    --backgroung-color: #ECE7DB;
    --h-color: #1A2424;
    --h-grad-f-color: #D7AF91;
    --h-grad-s-color: #d09263;
    --categoty-accent-color: #DDC4B3;
    --dropshadow-color: #c5c5c5;
    --category-dropshadow-color: #c3ad9f;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroung-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: 0.3s;
}

.category {
    display: flex;
    margin: 10px;
    background-color: var(--categoty-accent-color);
    text-align: center;
    border-radius: 30px;
    justify-content: space-between;
    text-decoration: none;
    color: var(--h-color);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(41,41,41,.25);
    -moz-box-shadow: 0px 0px 5px 2px rgba(41,41,41,.25);
    box-shadow: 0px 0px 5px 2px rgba(41,41,41,.25);
    flex: 0 0 auto;
    padding-left: 0;
}

.category-text-container {
    align-items: center;
    justify-content: center;
}

.category-title {
    margin-block: 40px 0;    
}

.category-image {
    border-radius: 15px;
}

.categories-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}


@media (min-width: 320px) {
    .categories-container {
        width: 100%;
    }

    .category {
        padding: 20px;
    }

    .category-image {
        width: 150px;
        height: 150px;
    }

    .category-title {
        font-size: 30px;
    }

    #breakfast-category {
        padding-left: 0;
    }

    #main-category {
        padding-left: 0;
    }

    #deserts-category {
        padding-left: 0;
    }

    .category-text-container {
        width: 200px;
    }
}

